<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="${actionText} + '表单字段'"></title>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap.min.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap-theme.min.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/bootstrap-select/css/bootstrap-select.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/hierarchy-select/css/pygments.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/hierarchy-select/css/hierarchy-select.min.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/treeview/css/bootstrap-treeview.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/zyc/css/zyc.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/zyc/css/zyc-tree-expression-modal.css}"></link>
</head>
<body>
	<div th:replace="/fragments/layout::header('login') " />
	<div class="container-fluid">
		<form id="form-field-detail" class="form form-horizontal" method="post" th:action="@{/mgr/form/field/} + ${action}" th:object="${field}">
			<input type="hidden" name="action" th:value="${action}" />
			<input type="hidden" th:field="*{id}" />
			<div class="container-fluid">
				<div class="row page-header">
				  	<h3>basic info</h3>
				</div>
				<div class="row form-group">
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="fieldname">Name</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				      	<input type="text" class="form-control" placeholder="Name" th:field="*{fieldname}" th:attr="readonly=${readonly}" />
					</div>
					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
				    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" for="fieldvalue">Value</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				      	<input type="text" class="form-control" placeholder="Value" th:field="*{fieldvalue}" th:attr="readonly=true" />
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
				</div>
				<div class="row form-group">
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="datatype">Data Type</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				    	<select class="form-control" th:field="*{datatype}" th:attr="readonly=${readonly} or ${whether_edit},disabled=${readonly} or ${whether_edit}">
							<option th:each="dt:${dataTypes}" th:value="${dt.value}" th:text="${dt.text}"></option>
						</select>
					</div>
					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
				    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" for="displaytype">Display Type</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				    	<select class="form-control" th:field="*{displaytype}" th:attr="readonly=${readonly} or ${whether_edit},disabled=${readonly} or ${whether_edit}">
							<option th:each="dt:${displayTypes}" th:value="${dt.value}" th:text="${dt.text}"></option>
						</select>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
				</div>
				<div class="row form-group">
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="formarea">Form Area</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				    	<select class="form-control" th:field="*{formarea}" th:attr="readonly=${readonly} or ${whether_edit},disabled=${readonly} or ${whether_edit}">
							<option th:each="fa:${formAreas}" th:value="${fa.value}" th:text="${fa.text}"></option>
						</select>
					</div>
					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
				    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" for="expression">Data Source</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<input type="hidden" th:field="${expression}" />
			        	<input type="text" class="form-control" th:field="${expressiontext}" readonly="readonly" />
			        	<span class="input-group-addon hand" th:attr="title='设置字段数据源'">@</span>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
				</div>
				<div th:replace="/fragments/entity-common :: descriptionRow(${form},${readonly})" />
				<div class="row form-group">
					<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
				      	<div class="checkbox">
				        	<label>
				          		<input type="checkbox" th:field="*{editable}" th:attr="readonly=${readonly},disabled=${readonly}" /> 可编辑
				        	</label>
				      	</div>
				    </div>
				</div>
				<div th:replace="/fragments/entity-common :: dataTagRow(null)" />
				<div th:replace="/fragments/entity-common :: statusRow(${form},${allDataStatus},${readonly})" />
				<div th:replace="/fragments/entity-common :: dateRow(${form},${readonly})" />
				<div th:replace="/fragments/entity-common :: btnRow(${readonly},${returnUrl})" />
			</div>
		</form>
	</div>
	<div th:replace="/fragments/layout::footer" />
</body>
<script type="text/javascript" th:src="@{/jquery/jquery-1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/bs-3.3.7/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/bs-plugins/bootstrap-select/js/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/bs-plugins/bootstrap-select/js/i18n/defaults-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/bs-plugins/hierarchy-select/js/hierarchy-select.js}" ></script>
<script type="text/javascript" th:src="@{/bs-plugins/treeview/js/bootstrap-treeview.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-jquery-utils.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-form.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-tree-expression-modal.js}"></script>
<script th:inline="javascript" type="text/javascript">
	$(document).ready(function() {
		
		var $form = $('#form-field-detail');
		
	});
</script>
</html>