<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>表单字段</title>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap.min.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap-theme.min.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/table/bootstrap-table.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/zyc/css/zyc.css}" ></link>
</head>
<body>
	<div th:replace="/fragments/layout::header('login') " />
	<div class="container-fluid">
		<input type="hidden" name="formid" th:value="${formid}" />
		<div id="toolbar-fields">
			<button type="button" id="btn_refresh_fields" class="btn btn-default" th:attr="data-bind-href=@{/api/form/field/refresh}">刷新</button>
		</div>
		<table id="table-fields"></table>
	</div>
	<div th:replace="/fragments/layout::footer" />
</body>
<script type="text/javascript" th:src="@{/jquery/jquery-1.12.1.js}" ></script>
<script type="text/javascript" th:src="@{/bs-3.3.7/js/bootstrap.js}" ></script>
<script type="text/javascript" th:src="@{/bs-plugins/table/bootstrap-table.js}" ></script>
<script type="text/javascript" th:src="@{/bs-plugins/table/locale/bootstrap-table-zh-CN.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-form.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-bs-table.js}" ></script>
<script th:inline="javascript" type="text/javascript">
	$(document).ready(function() {
		var formid = $('input[name="formid"]').val() || null;
		
		//事件列表
		var events = {
			'btn_refresh_fields': function(e) {
				if(zyc.confirm('刷新字段涉及到数据同步，可能需要一定时间。继续刷新吗？')) {
					alert($(this).attr('data-bind-href') + '/' + formid);
					$.ajax({
						url : $(this).attr('data-bind-href') + '/' + formid,
						data: {},
						type: 'post',
						dataType: 'json',
						async: true,
						success: function(resp) {
							var success = resp.status === '0';
						   	zyc.alert(resp.message, success ? 'info' : 'error');
							if(success) {
								$table.bootstrapTable('refresh');
							}
						},
					    error: function(err) {
					    	zyc.alert(null, 'error');
					    }
					});	
				}
			}
		};
		
		$('#toolbar-fields .btn').off('click').on('click', function(e) {
			var $this = $(this);
			if(!$this.attr('disabled')) {
				var ename = $this.attr('id');
				if($this.hasClass('limit-operate')) {
					var formfieldid = $this.data('formfieldid');
					if(!formfieldid) {
						alert('请选择需要' + $this.text() + '的字段！');	
					} else {
						events[ename].apply(this, [ e, formfieldid ]);
					}
				} else {
					events[ename].apply(this, [ e ]);
				}
			}
		});
		
		$('.btn.limit-operate').attr('disabled', true);
		
		var $table;
		
		bstable.init($table = $('#table-fields'), {
			toolbar: '#toolbar-fields',
			url: '/mgr/form/field/fields',
			method: 'post',
			columns: [
            	{ checkbox: true, visible: true } 
            	, { field: 'id', title: 'id', sortable: true, visible: false }
            	, { field: 'formid', title: 'formid', sortable: true, visible: false }
            	, { field: 'formname', title: '表单名称', sortable: true, halign: 'center', align: 'left' }
            	, { field: 'formarea', title: 'formarea', sortable: true, visible: false }
            	, { field: 'formarealabel', title: '表单区域', sortable: true, halign: 'center', align: 'left' }
            	, { field: 'fieldvalue', title: '表单字段', sortable: true, halign: 'center', align: 'left' }
            	, { field: 'fieldname', title: '表单字段名称', sortable: true, halign: 'center', align: 'left' }
            	, { field: 'datatype', title: 'datatype', sortable: true, visible: false }
            	, { field: 'datatypelabel', title: '数据类型', sortable: true, halign: 'center', align: 'center' }
            	, { field: 'displaytype', title: 'displaytype', sortable: true, visible: false }
            	, { field: 'displaytypelabel', title: '显示类型', sortable: true, halign: 'center', align: 'center' }
            	, { field: 'editable', title: 'editable', sortable: true, visible: false }
            	, { field: 'editablelabel', title: '是否可编辑', sortable: true, halign: 'center', align: 'center' }
            	, { field: 'description', title: '备注说明', sortable: true, halign: 'center', align: 'left' }
            	, { field: 'datastatus', title: 'datastatus', sortable: true, visible: false  }
            	, { field: 'datastatuslabel', title: '状态', sortable: true, halign: 'center', align: 'center' }
            	, { field: 'createdat', title: 'createdat', sortable: true, visible: false }
            	, { field: 'createdatlabel', title: '创建日期', sortable: true, halign: 'center', align: 'right' }
            	, { field: 'updatedat', title: 'updatedat', sortable: true, visible: false }
            	, { field: 'updatedatlabel', title: '更新日期', sortable: true, halign: 'center', align: 'right' }
            	, { field: 'version', title: '版本号', sortable: true, halign: 'center', align: 'right' }
            ],
            sortName: 'formid',
            rowTooltipable: true,
            rowTooltipTitle: '单击选中当前行，双击进入详情页。',
            onLoadSuccess: function(data) {
        		$table.find('tbody input[type="checkbox"][name="btSelectItem"]').off('change').on('change', function(e) {
        			var checked = $(this).is(':checked'),
        				value = $(this).val();
    				$('.btn.limit-operate').data('formfieldid', checked ? value : null).attr('disabled', !checked);
        		});
            },
			onClickRow: function (item, $element) {
	            return false;
	        },
			onDblClickRow: function (item, $element) {
				$('#btn_edit_form').data('formid', item.id).attr('disabled', false).trigger("click");
	            return false;
	        }
		}, function(params) {
			var sort = params.sort === 'formname' ? 'formid' : params.sort; 
			return {
	    		pagination: {
		    		order: sort
	    		},
				condition: {
					formid: formid
				},
				searchText: params.search
			};
		});
	});
</script>
</html>