<!-- Entity Common Template -->
<div class="row form-group" th:fragment="descriptionRow(entity,readonly)">
	<!-- *********** 'description' *********** -->
    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="description">Description</label>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      	<input type="text" class="form-control" placeholder="Description" th:field="*{description}" th:attr="readonly=${readonly}" />
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
</div>
<div class="row page-header" th:fragment="dataTagRow(title)">
	<h3 th:if="${title} == null">data tag</h3>
   	<h3 th:if="${title} != null" th:text="${title}"></h3>
</div>
<div class="row form-group" th:fragment="statusRow(entity,allDataStatus,readonly)">
	<!-- *********** 'datastatus' *********** -->
    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="datastatus">Data Status</label>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<select class="form-control" th:field="*{datastatus}" th:attr="readonly=${readonly},disabled=${readonly}">
			<option th:each="ds:${allDataStatus}" th:value="${ds.value}" th:text="${ds.text}"></option>
		</select>
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	<!-- *********** 'version' *********** -->
    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" for="version">Version</label>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      	<input type="text" class="form-control" placeholder="Version" th:field="*{version}" readonly="readonly" />
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
</div>
<div class="row form-group" th:fragment="dateRow(entity,readonly)">
	<!-- *********** 'createdat' *********** -->
    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="createdat">Created At</label>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<input type="hidden" th:field="*{createdat}" /> 
		<input type="text" class="form-control" th:value="${#dates.format(entity.createdat,'yyyy-MM-dd HH:mm:ss')}" readonly="readonly" />
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	<!-- *********** 'updatedat' *********** -->
    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" for="updatedat">Updated At</label>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<input type="hidden" th:field="*{updatedat}" />
		<input type="text" class="form-control" th:value="${#dates.format(entity.updatedat,'yyyy-MM-dd HH:mm:ss')}" readonly="readonly" />
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bottom-btns" th:fragment="btnRow(readonly,returnUrl)">
	<input type="hidden" name="returnUrl" th:value="${returnUrl}" />
	<button type="button" class="btn btn-default return">Return</button>
	<button type="submit" class="btn btn-primary save" th:attr="readonly=${readonly},disabled=${readonly},style='display: ' + (${readonly} ? 'none' : '')">Save</button>
	<script type="text/javascript" th:src="@{/zyc/js/zyc-interval.js}" ></script>
	<script th:inline="javascript" type="text/javascript">
		(function() {
			var handle = function() {
				$('.bottom-btns .btn.return').off('click').on('click', function(e) {
					var clickEvent = $(this).data('rebind-click-event');
					if(typeof clickEvent === 'function') {
						clickEvent.apply(this, [e]);
					} else {
						var path = $(this).data('returnUrl') || $('.bottom-btns input[name="returnUrl"]').val();
						if(path) {
							zyc.redirect(path);
						} else {
							zyc.alert('I don\'t know what to do.');
						}
					}
				});
			}
			
			var unexecutable = function() {
				return typeof $ === 'undefined' /* || typeof zyc === 'undefined' */;
			}
			
			var interval = new ZycInterval(this, handle, unexecutable).start(300);
		})();
	</script>
</div>