<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" th:href="@{/spread/css/gc.spread.sheets.excel2016colorful.11.2.2.css}"></link>
</head>
<body>
	<!-- SpreadJS表格插件 -->
	<div th:fragment="spread(id)" class="container-fluid">
		<div th:id="${id}" />
		<script type="text/javascript" th:src="@{/spread/js/gc.spread.sheets.all.11.2.2.min.js}"></script>
		<script th:inline="javascript" type="text/javascript">
			(function() {
				var id = [[${id}]]; //取thymeleaf中th:fragment="spread(id)"的参数id值
				var defaultOptions = {
					id: id,
					workbook: {
						sheetCount: 3
					}
				};
				
				window[id] = function(options) {
					var ops = $.extend(true, {}, defaultOptions, options || {})
						, dom = document.getElementById(ops.id)
						, spread = new GC.Spread.Sheets.Workbook(dom, ops.workbook);
					
					var activeSheet = spread.getActiveSheet();
					var cellType = new GC.Spread.Sheets.CellTypes.Button();
					cellType.buttonBackColor("#FFFF00");
					cellType.text("this is a button");
					activeSheet.getCell(0, 2).cellType(cellType);
					
					var cellType1 = new GC.Spread.Sheets.CellTypes.CheckBox();
					cellType1.caption("caption");
					cellType1.textTrue("true");
					cellType1.textFalse("false");
					cellType1.textIndeterminate("indeterminate");
					cellType1.textAlign(GC.Spread.Sheets.CellTypes.CheckBoxTextAlign.bottom);
					cellType1.isThreeState(true);
					activeSheet.getCell(3, 3).cellType(cellType1);
					
					var cellType2 = new GC.Spread.Sheets.CellTypes.ComboBox();
					cellType2.items(["a","b","c"]);
					activeSheet.getCell(2, 2).cellType(cellType2);
					
					var cellType = new GC.Spread.Sheets.CellTypes.HyperLink();
					cellType.linkColor("blue");
					cellType.visitedLinkColor("#FF2235");
					cellType.text("GrapeCity");
					cellType.linkToolTip("Company Web Site");
					activeSheet.getCell(1, 1).cellType(cellType).value("http://spread.grapecity.com/");
					activeSheet.getCell(1, -1).height(30);
					
					return {
						id: ops.id,
						spreadDocument: dom,
						spread: spread
					};
				}
			})();
		</script>
	</div>
</body>
</html>