<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="${actionText} + '表单域'"></title>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap.min.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap-theme.min.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/bootstrap-select/css/bootstrap-select.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/treeview/css/bootstrap-treeview.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/zyc/css/zyc.css}"></link>
<link type="text/css" rel="stylesheet" th:href="@{/zyc/css/zyc-express-modal.css}"></link>
</head>
<body>
	<div th:replace="/fragments/layout::header('login') " />
	<div class="container-fluid">
		<form id="domain-detail" class="form form-horizontal" method="post" th:action="@{/mgr/domain/} + ${action}" th:object="${domain}">
			<input type="hidden" name="action" /> 
			<input type="hidden" th:field="*{id}" />
			<div class="container-fluid">
				<div class="row page-header">
				  	<h3>basic info</h3>
				</div>
				<div class="row form-group">
					<!-- *********** Form Domain 'domainname' *********** -->
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="domainname">Name</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				      	<input type="text" class="form-control" placeholder="Name" th:field="*{domainname}" th:attr="readonly=${readonly}" />
					</div>
					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
					<!-- *********** Form Domain 'domaincode' *********** -->
				    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" for="domaincode">Code</label>
				    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				      	<input type="text" class="form-control" placeholder="Code" th:field="*{domaincode}" th:attr="readonly=${readonly}" />
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
				</div>
				<div class="row form-group">
					<!-- *********** Form Domain 'description' *********** -->
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" for="description">Description</label>
				    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				      	<input type="text" class="form-control" placeholder="Description" th:field="*{description}" th:attr="readonly=${readonly}" />
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
				</div>
				<div class="row form-group">
					<!-- Form Domain 'enabledbudgetctrl' -->
					<div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
				      	<div class="checkbox">
				        	<label>
				          		<input type="checkbox" th:field="*{enabledbudgetctrl}" th:attr="readonly=${readonly},disabled=${readonly}" /> Enable Budget Control
				        	</label>
				      	</div>
				    </div>
				</div>
				<div class="row page-header budget-ctrl-dim">
				  	<h3>budget control dimensions</h3>
				</div>
				<div class="row form-group budget-ctrl-dim" th:each="cds,cdsStat:${domain.ctrlDimSources}" th:attr="data-bind-code=${cds.dimcode}">
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label" th:text="${cds.dimname}" th:attr="data-bind-code=${cds.dimcode},data-bind-index=${cdsStat.index}"></label>
				   	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 input-group p-l">
						<span class="input-group-addon">
							<input type="checkbox" class="ctrl-dim-enabled" th:name="${'ctrlDimSources[' + cdsStat.index + '].enabled'}" th:attr="data-bind-code=${cds.dimcode},checked=${cds.enabled}">
						</span>
						<input type="hidden" th:name="${'ctrlDimSources[' + cdsStat.index + '].id'}" th:value="${cds.id}" />
						<input type="hidden" th:name="${'ctrlDimSources[' + cdsStat.index + '].formdomainid'}" th:value="${cds.formdomainid} == null ? ${domain.id} : ${cds.formdomainid}" />
						<input type="hidden" th:name="${'ctrlDimSources[' + cdsStat.index + '].dimid'}" th:value="${cds.dimid}" />
						<input type="hidden" th:name="${'ctrlDimSources[' + cdsStat.index + '].dimname'}" th:value="${cds.dimname}" />
						<input type="hidden" th:name="${'ctrlDimSources[' + cdsStat.index + '].dimcode'}" th:value="${cds.dimcode}" />
						<input type="hidden" class="dim-source" th:name="${'ctrlDimSources[' + cdsStat.index + '].expression'}" th:value="${cds.expression}" th:attr="data-bind-code=${cds.dimcode},data-bind-index=${cdsStat.index}" />
			        	<input type="text" class="form-control dim-source-text visible-ui" th:name="${'ctrlDimSources[' + cdsStat.index + '].expressiontext'}" th:value="${cds.expressiontext}" th:attr="data-bind-code=${cds.dimcode},data-bind-index=${cdsStat.index},disabled=!${cds.enabled}" readonly="readonly" />
			        	<span class="input-group-addon dim-source-set hand visible-ui" th:attr="data-bind-code=${cds.dimcode},data-bind-index=${cdsStat.index},disabled=!${cds.enabled},title='设置维度[' + ${cds.dimname} + ']数据源'">@</span>
			      	</div>
					<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>
				</div>
				<div th:replace="/fragments/entity-common :: dataTagRow(null)" />
				<div th:replace="/fragments/entity-common :: statusRow(${domain},${allDataStatus},${readonly})" />
				<div th:replace="/fragments/entity-common :: dateRow(${domain},${readonly})" />
				<div th:replace="/fragments/entity-common :: btnRow(${readonly},${returnUrl})" />
			</div>
		</form>
	</div>
	<div th:replace="/fragments/layout::footer" />
</body>
<script type="text/javascript" th:src="@{/jquery/jquery-1.12.1.js}"></script>
<script type="text/javascript" th:src="@{/bs-3.3.7/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/bs-plugins/bootstrap-select/js/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/bs-plugins/bootstrap-select/js/i18n/defaults-zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/bs-plugins/treeview/js/bootstrap-treeview.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-form.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-express-modal.js}"></script>
<script th:inline="javascript" type="text/javascript">
	$(document).ready(function() {
		
		var setBudgetctrldimVisiable = function(visiable) {
			$('div.budget-ctrl-dim')[visiable ? 'show' : 'hide']();
		}
		
		var $enabledbudgetctrl = $('input[name="enabledbudgetctrl"]').off('change').on('change', function(e) {
			setBudgetctrldimVisiable($(this).is(':checked'));
		});
		
		setBudgetctrldimVisiable($enabledbudgetctrl.is(':checked'));
		
		var _operateOptions = zyc.entryBeans(zyc.inexOperate)
			, _relationOptions = zyc.entryBeans(zyc.memberRelation);
		
		$('span.dim-source-set.hand').off('click').on('click', function(e) {
			var index = $(this).attr('data-bind-index')
				, dimcode = $(this).attr('data-bind-code')
				, dimtext = $('label.control-label.label[data-bind-index="' + index + '"]').text()
				, currExpressionResult = [];
			
			if(!$(this).attr('disabled')) {
				$(document.body).expressmodal({
					id: 'dim_source_set_modal_' + index,
					title: '预算控制维度[' + dimtext + ']数据源设置',
					sourceRootOptional: null,
					sourceRootDefault: dimcode,
					sourceLoadDataUrl: '/mdata/api/dimensionMembers',
					sourceLoadDataParam: function(node, root) {
						return {
							dimensionCode: root,
							//绑定到当前节点的主键id即其子节点的parentid
							parentId: node && node.attrs.id || ''
						};
					},
					operateOptions: _operateOptions,
					relationOptions: _relationOptions,
					expressionResult: currExpressionResult,
					onSaveExpressionResult: function(expressionResult) {
						var value = '', text = '';
						for(var i = 0, l = expressionResult.length; i < l; i++) {
							value += expressionResult[i].value;
							text += expressionResult[i].text;
						}
						$('input.dim-source[data-bind-index="' + index + '"]').val(value);
						$('input.dim-source-text[data-bind-index="' + index + '"]').val(text);
					}
				});
			}
		});
		
		$('input.ctrl-dim-enabled').off('change').on('change', function(e) {
			var checked = $(this).is(":checked")
				, commonSelector = '[data-bind-code="' + $(this).attr('data-bind-code') + '"]'
				, $text = $('.dim-source-text' + commonSelector)
				, $value = $('.dim-source' + commonSelector)
				, keyBackupValue = 'backup-value';

			$('.visible-ui' + commonSelector).attr('disabled', !checked);
			if(checked) {
				$text.val($text.data(keyBackupValue) || '');
				$value.val($value.data(keyBackupValue) || '');
			} else {
				$text.data(keyBackupValue, $text.val() || '').val('');
				$value.data(keyBackupValue, $value.val() || '').val('');
			}
		});
		
	});
</script>
</html>