<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>表单域</title>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap.min.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap-theme.min.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/table/bootstrap-table.css}" ></link>
<style type="text/css">
	table th {
		text-align: center;
	}
</style>
</head>
<body>
	<div th:replace="/fragments/layout::header('login') " />
	<div class="container-fluid">
		<div id="toolbar-domains">
			<a role="button" class="btn btn-default btn-add-domain" th:href="@{/mgr/domain/addpage}">新增表单域</a>
			<a role="button" class="btn btn-default btn-edit-domain" th:attr="data-bind-href=@{/mgr/domain/editpage}">编辑表单域</a>
		</div>
		<table id="table-domains">
			<!-- <thead>
				<tr>
					<th></th>
					<th>编码</th>
					<th>名称</th>
					<th>预算控制</th>
					<th>数据状态</th>
					<th>创建日期</th>
					<th>编辑日期</th>
					<th>版本号</th>
				</tr>
			</thead>
			<tbody>
				<tr class="domain-row" th:each="domain,domainStat:${domains}">
					<td data-bind-field="id">
						<input type="hidden" name="id" th:value="${domain.id}" /> 
						<input type="checkbox" />
					</td>
					<td data-bind-field="domaincode" th:text="${domain.domaincode}" ></td>
					<td data-bind-field="domainname" th:text="${domain.domainname}" ></td>
					<td data-bind-field="enabledbudgetctrl" th:text="${domain.enabledbudgetctrl}"></td>
					<td data-bind-field="datastatus" th:text="${domain.datastatus}" ></td>
					<td data-bind-field="createdat" th:text="${#dates.format(domain.createdat,'yyyy-MM-dd HH:mm:ss')}" ></td>
					<td data-bind-field="updatedat" th:text="${#dates.format(domain.updatedat,'yyyy-MM-dd HH:mm:ss')}" ></td>
					<td data-bind-field="version" th:text="${domain.version}" ></td>
				</tr>
			</tbody> -->
		</table>
	</div>
	<div th:replace="/fragments/layout::footer" />
</body>
<script type="text/javascript" th:src="@{/jquery/jquery-1.12.1.js}" ></script>
<script type="text/javascript" th:src="@{/bs-3.3.7/js/bootstrap.js}" ></script>
<script type="text/javascript" th:src="@{/bs-plugins/table/bootstrap-table.js}" ></script>
<script type="text/javascript" th:src="@{/bs-plugins/table/locale/bootstrap-table-zh-CN.js}" ></script>
<script type="text/javascript" th:src="@{/js/zyc.js}" ></script>
<script type="text/javascript" th:src="@{/js/zyc-form.js}" ></script>
<script type="text/javascript" th:src="@{/js/zyc-bs-table.js}" ></script>
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {

		var $btnEditDomain = $('.btn-edit-domain').off('click').on('click', function(e) {
			if(!$(this).attr('disabled')) {
				var id = $(this).data('formdomainid');
				if(!id) {
					alert('请选择需要编辑的数据行！');	
				} else {
					zyc.redirect($(this).attr('data-bind-href') + '/' + id);
				}
			}
		}).attr('disabled', true);
		
		var $table;
		bstable.init($table = $('#table-domains'), {
			toolbar: '#toolbar-domains',
			url: '/api/domains',
			method: 'post',
			columns: [
            	{ checkbox: true, visible: true } 
            	, { field: 'id', title: 'id', sortable: true }
            	, { field: 'domaincode', title: '编码', sortable: true }
            	, { field: 'domainname', title: '名称', sortable: true }
            	, { field: 'enabledbudgetctrl', title: '启用预算控制', sortable: true }
            	, { field: 'datastatus', title: '状态', sortable: true }
            	, { field: 'createdat', title: '创建日期', sortable: true }
            	, { field: 'updatedat', title: '跟新日期', sortable: true }
            	, { field: 'version', title: '版本号', sortable: true }
            ],
			onClickRow: function (item, $element) {
				$btnEditDomain.data('formdomainid', item.id).attr('disabled', false);
	            return false;
	        },
			onDblClickRow: function (item, $element) {
				$btnEditDomain.data('formdomainid', item.id).attr('disabled', false).trigger("click");
	            return false;
	        }
		}, function(params) {
			return {
				condition: {},
				searchText: params.search
			};
		});
		
		//$('tr.domain-row').tooltip({ html: true });
		
	});
</script>
</html>