<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>表单域</title>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap.min.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-3.3.7/css/bootstrap-theme.min.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/bs-plugins/table/bootstrap-table.css}" ></link>
<link type="text/css" rel="stylesheet" th:href="@{/zyc/css/zyc.css}" ></link>
</head>
<body>
	<div th:replace="/fragments/layout::header('login') " />
	<div class="container-fluid">
		<div id="toolbar-domains">
			<a role="button" class="btn btn-default btn-add-domain" th:href="@{/mgr/domain/addpage}">新增表单域</a>
			<a role="button" class="btn btn-default btn-edit-domain limit-operate" th:attr="data-bind-href=@{/mgr/domain/editpage}">编辑表单域</a>
			<a role="button" class="btn btn-default btn-delete-domain limit-operate" th:attr="data-bind-href=@{/api/domain/}">删除表单域</a>
			<a role="button" class="btn btn-default btn-add-form limit-operate" th:attr="data-bind-href=@{/mgr/form/addpage}">新增表单</a>
		</div>
		<table id="table-domains"></table>
	</div>
	<div th:replace="/fragments/layout::footer" />
</body>
<script type="text/javascript" th:src="@{/jquery/jquery-1.12.1.js}" ></script>
<script type="text/javascript" th:src="@{/bs-3.3.7/js/bootstrap.js}" ></script>
<script type="text/javascript" th:src="@{/bs-plugins/table/bootstrap-table.js}" ></script>
<script type="text/javascript" th:src="@{/bs-plugins/table/locale/bootstrap-table-zh-CN.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-form.js}" ></script>
<script type="text/javascript" th:src="@{/zyc/js/zyc-bs-table.js}" ></script>
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		var limitOperate = function(e, operateText, handle) {
			if(!$(this).attr('disabled')) {
				var id = $(this).data('formdomainid');
				if(!id) {
					alert('请选择需要' + operateText + '的表单域！');	
				} else {
					handle.apply(this, [e, id]);
				}
			}
		}
		
		var $btnEditDomain = $('.btn.btn-edit-domain').off('click').on('click', function(e) {
			limitOperate.apply(this, [ e, '编辑', 
				function(e, id) {
					zyc.redirect($(this).attr('data-bind-href') + '/' + id);
				} 
			]);
		});
		
		var $btnDeleteDomain = $('.btn.btn-delete-domain').off('click').on('click', function(e) {
			limitOperate.apply(this, [ e, '删除', 
				function(e, id) {
					if(confirm('您确认要删除当前选择的数据行吗？')) {
						$.ajax({
							url : $(this).attr('data-bind-href') + '/' + id,
							data: {},
							type: 'delete',
							dataType: 'json',
							async: true,
							success: function(resp) {
								if(resp.status === '0') {
									zyc.alert(resp.message || '删除成功！');
									$table.bootstrapTable('refresh');
								} else {
							    	zyc.alert(resp.message, 'error');
								};
							},
						    error: function(err) {
						    	zyc.alert(null, 'error');
						    }
						});	
					}
				} 
			]);
		});
		
		var $btnAddForm = $('.btn.btn-add-form').off('click').on('click', function(e) {
			limitOperate.apply(this, [ e, '新增表单', 
				function(e, id) {
					zyc.redirect($(this).attr('data-bind-href') + '?formdomainid=' + id);
				} 
			]);
		});
		
		$('.btn.limit-operate').attr('disabled', true);
		
		var textEnabledbudgetctrl = function(value, item, i) {
			return value ? '已启用' : '未启用';
		} 
		
		var textCtrlDimSources = function(value, item, index) {
			return bstable.tooltipArrayColumn(item.enabledbudgetctrl, function(o) {
				return { classes: 'ctrl-dim-source', text: o.dimname, title: [ o.dimcode + ' - ' + o.dimname, ': ', o.expressiontext ] };
			}, value, item, index);
		}
		
		var $table;
		
		bstable.init($table = $('#table-domains'), {
			toolbar: '#toolbar-domains',
			url: '/api/domains',
			method: 'post',
			columns: [
            	{ checkbox: true, visible: true } 
            	, { field: 'id', title: 'id', sortable: true, visible: false }
            	, { field: 'domaincode', title: '编码', sortable: true }
            	, { field: 'domainname', title: '名称', sortable: true }
            	, { field: 'enabledbudgetctrl', title: '启用预算控制', sortable: true, halign: 'center', align: 'center', formatter: textEnabledbudgetctrl }
            	, { field: 'ctrlDimSources', title: '预算控制维度', sortable: false, halign: 'center', align: 'center', formatter: textCtrlDimSources, cellStyle: bstable.cellDisableRowTooltip }
            	, { field: 'datastatus', title: '状态', sortable: true, halign: 'center', align: 'center', formatter: zyc.textDataStatus }
            	, { field: 'createdat', title: '创建日期', sortable: true, halign: 'center', align: 'right', formatter: zyc.formatTimestamp }
            	, { field: 'updatedat', title: '更新日期', sortable: true, halign: 'center', align: 'right', formatter: zyc.formatTimestamp }
            	, { field: 'version', title: '版本号', sortable: true, halign: 'center', align: 'right' }
            ],
            rowTooltipable: true,
            rowTooltipTitle: '单击选中当前行，双击进入详情页。',
            onLoadSuccess: function(data) {
        		$table.find('tbody input[type="checkbox"][name="btSelectItem"]').off('change').on('change', function(e) {
        			var checked = $(this).is(':checked'),
        				value = $(this).val();
    				$('.limit-operate').data('formdomainid', checked ? value : null).attr('disabled', !checked);
        		});
            },
			onClickRow: function (item, $element) {
	            return false;
	        },
			onDblClickRow: function (item, $element) {
				$btnEditDomain.data('formdomainid', item.id).attr('disabled', false).trigger("click");
	            return false;
	        }
		}, function(params) {
			return {
				condition: {},
				searchText: params.search
			};
		});
		
	});
</script>
</html>