.bottom-btns {
	text-align: center;
}

.bottom-btns > button {
	margin-right: 20px;
}

.hand {
	cursor: pointer; 
}

.tooltip-inner {
	max-width: 500px;
	color: #000000;
	background-color: #f7ac00;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #f7ac00;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #f7ac00;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #f7ac00;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #f7ac00;
}

.hand {
	cursor: pointer;
}

.label-tag {
  	background-color: #aac6ea;
}

.label-tag[href]:hover,
.label-tag[href]:focus {
  	background-color: #74a0dc;
}

.label-none {
  	/* background-color: #d7d7ae; */
}

.label-none[href]:hover,
.label-none[href]:focus {
	/* background-color: #dac52c; */
}

.label-none,
.label-none[href]:hover,
.label-none[href]:focus {
  	margin: 1px;
}

.input-group.p-l {
	padding-left: 15px;
}

form div.checkbox label {
	margin-left: 40px;
}

form div.checkbox label:FIRST-CHILD {
	margin-left: 0px;	
}
 
span.form-control.expression-label,
span.form-control.default-label {
	text-align: right;
	width: 5%;
	border-right: none;
	padding-left: 0px;
	padding-right: 0px;
	white-space:nowrap;
}

.form-control[name="expressiontext"] {
	width: 65%;
	border-left: none;
	border-right: none;
}

span.form-control.default-label {
	border-left: none;
}

.form-control[name="expressiondefaulttext"] {
	width: 25%;
	border-left: none;
}

@MEDIA screen and (max-width: 1920px) {
	span.form-control.expression-label,
	span.form-control.default-label {
		width: 5%;
	}
	
	.form-control[name="expressiontext"] {
		width: 65%;
	}
	
	.form-control[name="expressiondefaulttext"] {
		width: 25%;
	}
}

@MEDIA screen and (max-width: 1280px) {
	span.form-control.expression-label {
		width: 7%;
	}
	
	.form-control[name="expressiontext"] {
		width: 63%;
	}
	
	span.form-control.default-label {
		width: 7%;
	}
	
	.form-control[name="expressiondefaulttext"] {
		width: 23%;
	}
}

@MEDIA screen and (max-width: 800px) {
	span.form-control.expression-label,
	span.form-control.default-label {
		width: 11%;
	}
	
	.form-control[name="expressiontext"] {
		width: 59%;
	}
	
	.form-control[name="expressiondefaulttext"] {
		width: 19%;
	}
}